
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    perspective: 800px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 50px;
}


.eye{
    display: block;
    transform: translateX(-30px);
}

/* TRANSFORM ROTATE  */

.box1{
    transform: rotate(30deg);
}

.box2{
    transform: rotateX(45deg);
}

.box3{
    transform: rotatey(30deg);
}


/* TRANSFORM TRANSLATE  */

.box4{
    transform: translateX(50px);
}

.box5{
    transform: translateY(50px);
}

.box6{
    transform: translate(50px, 40px);
}

.box7{
    transform: scale(1.2);
}

.box8{
    transform: scaleX(1.2);
}

.box9{
    transform: scaleY(1.2);
}

.box10{
    transform: skewX(30deg);
}

.box11{
    transform: skewY(30deg);
}

.box12{
    transform: skew(15deg, 15deg);
}

.container{
    max-width: 1400px;
    min-width: 350px;
    margin: auto;
    border: 2px solid green;
}